<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head th:include="jobList :: [//head]" />
<div th:include="jobList :: [//footer[@id='center-footer']]"></div>

<body>
<div class="container">

    <header>
        <h2></h2>
    </header>



<!-- <h2>Job Detail</h2> -->

    <div th:unless="${#lists.isEmpty(jobDetails)}">
        <dl th:each="job : ${jobDetails}">

        <dt class="jobHeadline">

            <img th:src="${{job.image_url}}" style="width:150px;height:60px" alt="Company Icon" />
            <span th:text="${job.title}">Title</span>
            <p> </p>
            <span th:text="${job.postdate}">Post Date</span>
            <span th:text="${job.categories}">Job Categories</span>

        </dt>

            <p th:text="${{job.description}}">Job Description</p>


            <h4>Employer Job Listing Link</h4>
            <a th:href="${job.job_url}"
               th:text="${job.job_url}"></a>


            <hr/>


        <h5>Find recommended moocs:</h5>

        <form method="POST" th:action="@{/job/jobDetail/{id}(id=${job.id},tags=${job.skills_tags})}" target="_self">

            <button><input class="mooc-button" type="image" name="moocs" th:value="${job.skills_tags}">
                <img src="/clover.png" style="width:20px;height:20px" alt="Meetup Icon"/> </input></button>

             <!--<div layout:fragment="moocList"></div> -->
            <div th:include="moocList :: moocList"></div>

        </form>

        </dl>


    </div>



<div th:if="${#lists.isEmpty(jobDetails)}">
    <p>There are no details in the job list</p>
</div>




    <div class="container" th:layout:fragment="moocList">

        <content id="center-content">



            <div th:unless="${#lists.isEmpty(moocs)}">
                <h2></h2>
                <dl th:each="mooc : ${moocs}">

                    <dt class="moocHeadline">
                        <img th:src="${{mooc.imageUrl}}" style="width:80px;height:24px" alt="Mooc Provider Icon" />
                        <a th:href="${mooc.moocUrl}"
                           th:text="${mooc.title}">Title</a> by
                        <span th:text="${mooc.provider}">Provider</span>
                        (views: <span th:text="${mooc.views}">views</span>)
                        (ratings: <span th:text="${mooc.ratings}">ratings</span>)
                        (subject tags: <span th:text="${mooc.subjectTags}">subjectTags</span>)
                    </dt>


                </dl>
            </div>

            <hr/>

        </content>

    </div>


</div>

<div th:include="jobList :: [//footer[@id='center-footer']]"></div>

</body>
</html>